.board                                                                          {
  @include display-flex(inline-flex);
  @include flex-direction(column);
  
  .panel                                                                        {
    @include display-flex(inline-flex);
    @include flex-direction(row);
    
    align-items:    center;
    vertical-align: middle;
    
    .label                                                                      {

    }
  }

  .panel.disabled                                                               {
    opacity: 0.6;
  }
  
  #BET                                                                          {
    
  }
  
  #GAIN                                                                         {

  }

  #ROWS.panel                                                                   {
    > *                                                                         {
      margin:   1px;
      padding:  1px;
    }
  }

  #ROWS                                                                         {
    @include flex-direction(column);
    
    .row                                                                        {
      @include display-flex;
      flex-direction: row;
      margin:        2px;
      
    }
  }
  #ROWS.disabled                                                                {
    opacity: 0.9;
  }
}
