.board                                                                          {
  display:        inline-flex;
  flex-direction: column;
  
  
  .panel                                                                        {
    display:        inline-flex;
    flex-direction: row;
    
    .label                                                                      {

    }
  }

  .panel.disabled                                                               {
    opacity: 0.6;
  }
  
  #BET                                                                          {
    
  }
  
  #ROWS                                                                         {
    flex-direction: column;
    
    .row                                                                        {
      display:        inline-flex;
      flex-direction: row;
    }
  }
}
