html, body                                                                      {
  display:    block;
  padding:    0px;
  margin:     0px;
  width:      100%;
  height:     100%;
  font-size:  0.85em;
}

.panel                                                                          {
  border: solid 1px #000000;
  padding: 2px;
  
  > *                                                                           {
    margin: 2px;
  }
}

.label                                                                          {
  vertical-align:   middle;
  height:           1.1em;
  line-height:      1.1em;
}
.field                                                                          {
  vertical-align:   middle;
  height:           1.1em;
  line-height:      1.1em;
}
.button                                                                         {
  border:           outset 1px #000000;
  background-color: #808080;
  color:            #ffffff;
  height:           1.1em;
  line-height:      1.1em;
  padding:          3px;
  vertical-align:   middle;
  text-align:       center;
}

.disabled {
  opacity: 0.2;
}