.popups                                                                         {
  position:         absolute;
  z-index:          1000;
  opacity:          0;
  
  @include display-flex(inline-flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  
  top:    0px;
  left:   0px;
  bottom: 0px;
  right:  0px;

  background-color: rgba(0, 0, 0, 0.5);

  .panel{
    @include display-flex(inline-flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    border:           $border;
    background-color: #ffffff;

    min-width:  18em;
    max-width:  24em;
    min-height: 16em;
    
    .berry, .honey, .bee, .trap, .safe, .danger                                 {
      display: inline-block;
      background-size: contain;
    }

    .berry, .honey, .bee, .trap                                                 {
      width:  1.7em;
      height: 1.7em;
    }
    
    .safe, .danger                                                              {
      width:  1em;
      height: 1em;
    }
    
    .berry                                                                      {
      @include backgroundImage($image-SlotBerry);
    }
    
    .honey                                                                      {
      @include backgroundImage($image-SlotHoney);
    }
    
    .bee                                                                        {
      @include backgroundImage($image-SlotBee);
    }
    
    .trap                                                                       {
      @include backgroundImage($image-SlotTrap);
    }
    
    .danger                                                                     {
      @include backgroundImage($image-SlotDanger);
    }
    
    .safe                                                                       {
      @include backgroundImage($image-SlotSafe);
    }
    
    #HELP                                                                       {
      padding:            1em;
      
      .label                                                                    {
        line-height:      1.4em;
        font-size:        1.4em;
        height:           auto;
        vertical-align:  middle;
      }
    }
  }
}
