.popups                                                                         {
  position:         absolute;
  z-index:          1000;
  
  @include display-flex(inline-flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  
  top:    0px;
  left:   0px;
  bottom: 0px;
  right:  0px;

  background-color: rgba(0, 0, 0, 0.5);

  .panel{
    @include display-flex(inline-flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    
    border:           solid 1px #000000;
    background-color: #ffffff;
    
    width:  300px;
    height: 180px;
  }
}
