.profile                                                                        {
  .panel                                                                        {
    @include display-flex(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    
    .label                                                                      {
      
    }
    .field                                                                      {
      width: 6.5em;
      font-size: $font-sizeDefault;
    }
    .button                                                                     {
      
    }
  }
  
  #USERNAME                                                                     {
    
  }
  #PASSWORD                                                                     {
    
  }
  #LOGIN                                                                        {
    
  }
  #HELP                                                                         {
    @include backgroundImage($image-Help);
    background-size:  contain;
    width:            1.5em;
    height:           1.5em;
    margin:           0 1em;
  }
  #LOGOUT                                                                       {
  }
}

