.profile                                                                        {
  .panel                                                                        {
    display:        inline-flex;
    flex-direction: row;
    
    .label                                                                      {
      
    }
    .field                                                                      {
      width: 75px;
    }
    .button                                                                     {
      
    }
  }

  #USERNAME                                                                     {

  }
  #PASSWORD                                                                     {

  }
  #LOGIN                                                                        {

  }
  #LOGOUT                                                                       {

  }
}

