.slot                                                                           {
  display:          inline-flex;
  flex-direction:   column;
  justify-content:  space-between;
  margin:           2px;
  
  border:   solid 1px #000000;
  width:    64px;
  height:   64px;
  
  background-image: none;
  background-color: lightgrey;
  background-size:  cover;
  
  #DANGER                                                                       {
    width:  16px;
    height: 16px;
  }
}

.slot.selected                                                                  {
  border:           none;
}

.slot.empty                                                                     {
  background-image: url("../imgs/bush.png");
}
.slot.berry                                                                     {
  background-image: url("../imgs/berry.png");
}
.slot.honey                                                                     {
  background-image: url("../imgs/honey.png");
}
.slot.bee                                                                       {
  background-image: url("../imgs/bee.png");
}
.slot.trap                                                                      {
  background-image: url("../imgs/trap.png");
}

