.slot                                                                           {
  @include display-flex(inline-flex);
  @include flex-direction(column);
  justify-content:  space-between;
  margin:           1px;
  padding:          1px;
  
  border:   solid 1px #CCCCCC;
  width:    50px;
  height:   50px;
  
  background-image: none;
  background-color: lightgrey;
  background-size:  cover;
  
  #DANGER                                                                       {
    width:  16px;
    height: 16px;
  }
}

.slot.selected                                                                  {
    border-color:   #000000;
}

.slot.empty                                                                     {
  background-image: url("../imgs/bush.png");
}
.slot.berry                                                                     {
  background-image: url("../imgs/berry.png");
}
.slot.honey                                                                     {
  background-image: url("../imgs/honey.png");
}
.slot.bee                                                                       {
  background-image: url("../imgs/bee.png");
}
.slot.trap                                                                      {
  background-image: url("../imgs/trap.png");
}

