.slot                                                                           {
  @include display-flex(inline-flex);
  @include flex-direction(column);
  @include justify-content(space-between);
  
  margin:       0.1em;
  padding:      0.1em;
  
  border:       $border;
  border-color: #CCCCCC;
  width:        4.56em;
  height:       4.56em;
  
  background-image: none;
  background-color: lightgrey;
  background-size:  cover;

  .icon                                                                         {
    width:            1.4em;
    height:           1.4em;
    background-size:  contain;
  }
  
  .icon.danger                                                                  {
    @include backgroundImage($image-SlotDanger);
  }
  
  .icon.safe                                                                    {
    @include backgroundImage($image-SlotSafe);
  }
}

.slot.selected                                                                  {
    border-color:   #000000;
}

.slot.empty                                                                     {
  @include backgroundImage($image-SlotEmpty);
}
.slot.berry                                                                     {
  @include backgroundImage($image-SlotBerry);
}
.slot.honey                                                                     {
  @include backgroundImage($image-SlotHoney);
}
.slot.bee                                                                       {
  @include backgroundImage($image-SlotBee);
}
.slot.trap                                                                      {
  @include backgroundImage($image-SlotTrap);
}

