.viewport                                                                       {
  @include display-flex(inline-flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  position: absolute;
  top:      0px;
  left:     0px;
  bottom:   0px;
  right:    0px;
  
  .panel                                                                        {
    @include display-flex(inline-flex);
    @include flex-direction(column);
  }

  #LANDSCAPE_ERROR                                                              {
    display: none;
  }
  
  @media screen
  and (max-height : 380px)
  and (orientation : landscape)                                                 {
    .panel                                                                      {
      display: none;
    }
    #LANDSCAPE_ERROR                                                            {
      @include display-flex(inline-flex);
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      
      position:         absolute;
      background-color: #ffffff;
      z-index:          100000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
