@import "compass";
@import "compass/css3";
@import "compass/css3/appearance";
@import "compass/css3/columns";
@import "compass/css3/flexbox";
@import "compass/css3/font-face";
@import "compass/css3/text-shadow";
@import "compass/css3/user-interface";
@import "compass/layout/stretching";
@import "compass/typography/text/ellipsis";

// -----------------------------------------------------------------------------
//{ region CONFIG
$font-sizeDefault:  1.5em;
$border:            solid 0.1em #000000;
$image-SlotEmpty:   "bush.png";
$image-SlotBerry:   "berry.png";
$image-SlotHoney:   "honey.png";
$image-SlotBee:     "bee.png";
$image-SlotTrap:    "trap.png";
//} endregion
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//{ region Mixins
@import "mixins/backgroundImage";
//} endregion
// -----------------------------------------------------------------------------

@import "partials/global";


// -----------------------------------------------------------------------------
//{ region PLUGINS/DIRECTIVES
@import "partials/viewport";
@import "partials/popups";
@import "partials/profile";
@import "partials/board";
@import "partials/slot";

//} endregion
// -----------------------------------------------------------------------------




