html, body {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.85em; }

.panel {
  border: solid 1px #000000;
  padding: 2px; }
  .panel > * {
    margin: 1px;
    padding: 1px; }

.label {
  vertical-align: middle;
  height: 1.1em;
  line-height: 1.1em; }

.field {
  vertical-align: middle;
  height: 1.1em;
  line-height: 1.1em; }

.button {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: outset 1px #000000;
  background-color: #808080;
  color: #ffffff;
  padding: 8px;
  min-width: 16px;
  min-height: 16px; }

.filler {
  flex: 2; }

.disabled {
  opacity: 0.2; }

.viewport {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }
  .viewport .panel {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column; }

.popups {
  position: absolute;
  z-index: 1000;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.25); }
  .popups .panel {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #000000;
    background-color: #ffffff;
    width: 300px;
    height: 180px; }

.profile .panel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .profile .panel .field {
    width: 85px; }

.board {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .board .panel {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    vertical-align: middle; }
  .board .panel.disabled {
    opacity: 0.6; }
  .board #BET .field {
    width: 85px; }
  .board #BET .button.selected {
    background-color: lightgray;
    border-style: inset; }
  .board #ROWS {
    border: none;
    padding: 0px;
    margin: 0px; }
    .board #ROWS .row {
      border: none;
      padding: 0px;
      margin: 0px; }
      .board #ROWS .row .cell {
        border: none;
        padding: 0px;
        margin: 0px; }
  .board #ROWS.disabled {
    opacity: 0.9; }

.slot {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  margin: 1px;
  padding: 1px;
  border: solid 1px #CCCCCC;
  width: 50px;
  height: 50px;
  background-image: none;
  background-color: lightgrey;
  background-size: cover; }
  .slot #DANGER {
    width: 16px;
    height: 16px; }

.slot.selected {
  border-color: #000000; }

.slot.empty {
  background-image: url("../imgs/bush.png"); }

.slot.berry {
  background-image: url("../imgs/berry.png"); }

.slot.honey {
  background-image: url("../imgs/honey.png"); }

.slot.bee {
  background-image: url("../imgs/bee.png"); }

.slot.trap {
  background-image: url("../imgs/trap.png"); }
