html, body {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.85em; }

.panel {
  border: solid 1px #000000;
  padding: 2px; }
  .panel > * {
    margin: 2px; }

.label {
  vertical-align: middle;
  height: 1.1em;
  line-height: 1.1em; }

.field {
  vertical-align: middle;
  height: 1.1em;
  line-height: 1.1em; }

.button {
  border: outset 1px #000000;
  background-color: #808080;
  color: #ffffff;
  height: 1.1em;
  line-height: 1.1em;
  padding: 3px;
  vertical-align: middle;
  text-align: center; }

.disabled {
  opacity: 0.2; }

.profile .panel {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center; }
  .profile .panel .field {
    width: 75px; }

.board {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .board .panel {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    vertical-align: middle; }
  .board .panel.disabled {
    opacity: 0.6; }
  .board #ROWS {
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 2px; }
    .board #ROWS .row {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      margin: 2px; }
  .board #ROWS.disabled {
    opacity: 0.9; }

.slot {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px;
  border: solid 1px #000000;
  width: 64px;
  height: 64px;
  background-image: none;
  background-color: lightgrey;
  background-size: cover; }
  .slot #DANGER {
    width: 16px;
    height: 16px; }

.slot.selected {
  border: none; }

.slot.empty {
  background-image: url("../imgs/bush.png"); }

.slot.berry {
  background-image: url("../imgs/berry.png"); }

.slot.honey {
  background-image: url("../imgs/honey.png"); }

.slot.bee {
  background-image: url("../imgs/bee.png"); }

.slot.trap {
  background-image: url("../imgs/trap.png"); }
